<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Footer</title>
    <link href="/static/staticcss/footer.css" rel="stylesheet">
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div id="div1" class="column"><img id="logo" class="center" src="/static/assets/logo.png">
       <center>
        <a href="#"><img id="soc" src="/static/svg/facebook.png"></a>
        <a href="#"><img id="soc" src="/static/svg/instagram.png"></a>
        <a href="#"><img id="soc" src="/static/svg/linkdin.png"></a>
        <a href="#"><img id="soc" src="/static/svg/pinterest.png"></a>
      </center>
      </div>
      <div id="div2" class="column"> 
        <ul id="ul1">	
          <li><a  href="/hindih"><button class="hindih" id="button" type="submit" >Hindi</button></a></li>
          <li><a  href="/marathih"><button class="marathih" id="button" type="submit" >Marathi</button></a></li>
          <li><a  href="/southh"><button class="southh" id="button" type="submit" >South</button></a></li>
          <li><a  href="/englishh"><button class="englishh" id="button" type="submit" >English</button></a></li>
        </ul>
      <p id="copy">© 2022 Company, All rights reserved by <a href="#" id="copyright" >Hitendra</a></p>
      </div>
    </div>

</body>
</html>